baseq3/private.cfg
baseq3/private.sh
linux64/
minqlx-plugins/
steamapps/
run*.sh
zmq*.py
*.pk3
*.so
*.txt
*.x64
*.x86
*.zip
!baseq3/mappool_qlrace.txt
!baseq3/mappool_qlrace_classic.txt
!baseq3/workshop.txt
!baseq3/workshop_extra.txt
!baseq3/zz-arena_files.pk3
!baseq3/zz-grenade_sound_rec.pk3
!baseq3/zz-qlrace_nosounds.pk3
