baseq3/access.txt
baseq3/mappool_ca.txt
baseq3/mappool_ctf.txt
baseq3/mappool_duel.txt
baseq3/mappool_ffa.txt
baseq3/mappool_race.txt
baseq3/mappool_tdm.txt
baseq3/mappool.txt
baseq3/private.cfg
baseq3/private.sh
linux64/
minqlx-plugins/
steamapps/
*.pk3
*.so
*.x64
*.x86
*.zip
run*.sh
server_readme.txt
steam_appid.txt
zmq*.py
